<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="ISO-8859-1">
    <title>Voting system</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/profile}">Profile</a>
                </li>
                <li th:if="${isAdmin == true}" class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/admin}">Admin</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
        </div>
    </div>
</nav>
<br><br>

<input type="hidden" name="email" id="email" th:value="${#authentication.getName()}">
<input type="hidden" name="pollId" id="pollId" th:value="${currentPoll.getId()}">


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>
                Title: '<span th:text="${currentPoll.getTitle()}">title</span>'
            </h3>
            <h5 th:text="${pollAuthor}">pollAuthor</h5>
            <table class="table">
                <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Option value</th>
                    <th scope="col">Stats</th>
                </tr>
                </thead>
                <tbody id="statistics"></tbody>
            </table>
            <h6 class="pull-right">
                All number of votes: '<span th:text="${sumOfRate}">sumOfRate</span>'
            </h6>
            <br>
            <button class="btn btn-primary" onclick="seeStatisticsByGroup()">See full statistics by groups</button>
            <br><br>
            <button class="btn btn-primary" onclick="seeStatisticsByInterest()">See full statistics by interests</button>
            <br><br>
            <button class="btn btn-primary" onclick="seeStatisticsByGender()">See full statistics by gender</button>

            <table class="table" id="statisticsByGroup">
            </table>

            <table class="table" id="statisticsByInterest">
            </table>

            <table class="table" id="statisticsByGender">
            </table>
            <script>
                currentEmail = $("#email").val();
                currentPollId = $("#pollId").val();
                function seeStatisticsByGroup() {
                    jQuery.ajax({
                        url: "http://127.0.0.1:8080/isUserHasGroup",
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        data: {"email": currentEmail},
                        success: function (resultData) {
                            if (resultData === "noClub") {
                                alert ("Please firstly provide your group");
                            } else {
                                getStatisticsByGroup();
                            }
                        },
                        error: function () {
                            alert("Please check your inputted data1");
                        },
                        timeout: 120000,
                    });
                }
                function getStatisticsByGroup() {
                    clearTables()
                    jQuery.ajax({
                        url: "http://127.0.0.1:8080/getStatisticsOfPollByGroup",
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        data: {"email": currentEmail, "pollId": currentPollId},
                        success: function (resultData) {
                            if (resultData !== "") {
                                displayStatisticsOfGroup(resultData);
                            }
                        },
                        error: function () {
                            alert("Please check your inputted data");
                        },
                        timeout: 120000,
                    });
                }
                const displayStatisticsOfGroup = (characters) => {
                    const beginning = `
                <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Option value</th>
                    <th scope="col">Groupmate emails</th>
                </tr>
                </thead>
                <tbody>`;
                    const ending = `</tbody>`
                    const htmlString = characters
                        .map((character, id) => {
                            id += 1;
                            emails = displayUsers(character.answeredUsersEmailList);
                            return `
                                <tr>
                                    <th scope="row">${id}</th>
                                    <td>
                                        ${character.value}
                                    </td>
                                    <td>`+emails+`
                                    </td>
                                </tr>
                                `;
                        })
                        .join('');
                    statisticsByGroup.innerHTML = beginning + htmlString + ending;
                };
                const displayStatisticsOfInterest = (characters) => {
                    const beginning = `
                <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Option value</th>
                    <th scope="col">Interestmate emails</th>
                </tr>
                </thead>
                <tbody>`;
                    const ending = `</tbody>`
                    const htmlString = characters
                        .map((character, id) => {
                            id += 1;
                            emails = displayUsers(character.answeredUsersEmailList);
                            return `
                                <tr>
                                    <th scope="row">${id}</th>
                                    <td>
                                        ${character.value}
                                    </td>
                                    <td>`+emails+`
                                    </td>
                                </tr>
                                `;
                        })
                        .join('');
                    statisticsByInterest.innerHTML = beginning + htmlString + ending;
                };
                const displayStatisticsOfGender = (characters) => {
                    const beginning = `
                <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Option value</th>
                    <th scope="col">Male Stats</th>
                    <th scope="col">Female Stats</th>
                    <th scope="col">Non-binary peoples Stats</th>
                    <th scope="col">Unknown gender peoples Stats</th>
                    <th scope="col">Option rate</th>
                </tr>
                </thead>
                <tbody>`;
                    const ending = `</tbody>`
                    const htmlString = characters
                        .map((character, id) => {
                            id += 1;
                            return `
                                <tr>
                                    <th scope="row">${id}</th>
                                    <td>
                                        ${character.value}
                                    </td>
                                    <td>
                                        ${character.statMale}
                                    </td>
                                    <td>
                                        ${character.statFemale}
                                    </td>
                                    <td>
                                        ${character.statNonbinary}
                                    </td>
                                    <td>
                                        ${character.statUnknown}
                                    </td>
                                    <td>
                                        ${character.rate}
                                    </td>
                                </tr>
                                `;
                        })
                        .join('');
                    statisticsByGender.innerHTML = beginning + htmlString + ending;
                };
                const displayUsers = (characters) => {
                    const htmlString = characters
                        .map((character, id) => {
                            id += 1;
                            return `<button class="btn btn-primary btn-sm" disabled>${character}</button>`;
                        })
                        .join('');
                    return htmlString;
                };

                function clearTables() {
                    $("#statisticsByGroup thead").remove();
                    $("#statisticsByGroup tbody").remove();

                    $("#statisticsByInterest thead").remove();
                    $("#statisticsByInterest tbody").remove();
                }

                function seeStatisticsByInterest() {
                    jQuery.ajax({
                        url: "http://127.0.0.1:8080/isUserHasInterest",
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        data: {"email": currentEmail},
                        success: function (resultData) {
                            if (resultData === "noInterest") {
                                alert ("Please firstly provide your interest");
                            } else {
                                getStatisticsByInterest();
                            }
                        },
                        error: function () {
                            alert("Please check your inputted data1");
                        },
                        timeout: 120000,
                    });
                }
                function getStatisticsByInterest() {
                    clearTables()
                    jQuery.ajax({
                        url: "http://127.0.0.1:8080/getStatisticsOfPollByInterest",
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        data: {"email": currentEmail, "pollId": currentPollId},
                        success: function (resultData) {
                            if (resultData !== "") {
                                displayStatisticsOfInterest(resultData);
                            }
                        },
                        error: function () {
                            alert("Please check your inputted data");
                        },
                        timeout: 120000,
                    });
                }

                function seeStatisticsByGender() {
                    jQuery.ajax({
                        url: "http://127.0.0.1:8080/isUserHasGender",
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        data: {"email": currentEmail},
                        success: function (resultData) {
                            if (resultData === "noGender") {
                                alert ("Please firstly provide your gender");
                            } else {
                                getStatisticsByGender();
                            }
                        },
                        error: function () {
                            alert("Please check your inputted data1");
                        },
                        timeout: 120000,
                    });
                }
                function getStatisticsByGender() {
                    clearTables()
                    jQuery.ajax({
                        url: "http://127.0.0.1:8080/getStatisticsOfPollByGender",
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        data: {"email": currentEmail, "pollId": currentPollId},
                        success: function (resultData) {
                            if (resultData !== "") {
                                displayStatisticsOfGender(resultData);
                            }
                        },
                        error: function () {
                            alert("Please check your inputted data");
                        },
                        timeout: 120000,
                    });
                }

                jQuery.ajax({
                    url: "http://127.0.0.1:8080/getStatisticsOfPoll",
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {"email": currentEmail, "pollId": currentPollId},
                    success: function (resultData) {
                        if (resultData !== "") {
                            displayStatistics(resultData);
                        }
                    },
                    error: function () {
                        alert("Please check your inputted data");
                    },
                    timeout: 120000,
                });
                const displayStatistics = (characters) => {
                    id = 0;
                    const htmlString = characters
                        .map((character, id) => {
                            id += 1;
                            if (character.checked === true) {
                                return `
                                <tr class="table-primary">
                                    <th scope="row">${id}</th>
                                    <td>
                                        ${character.value}
                                    </td>
                                    <td>
                                        ${character.rate}
                                    </td>
                                </tr>
                                `;
                            } else {
                                return `
                                <tr>
                                    <th scope="row">${id}</th>
                                    <td>
                                        ${character.value}
                                    </td>
                                    <td>
                                        ${character.rate}
                                    </td>
                                </tr>
                                `;
                            }
                        })
                        .join('');
                    statistics.innerHTML = htmlString;
                };
            </script>
        </div>
    </div>
</div>
</body>
</html>
